<h1><center> Part I: Pandas </center></h1>

In the previous Lab we used **NumPy** and we observed that this library (in particular the *ndarray* data structure) provides essential features to deal with well-organized data, typically seen in numerical tasks. Often, however, in data science projects we need the flexibility to work with labeled data (beyond the integer indexes of *ndarrays*) and to deal with missing data. Also, NumPy offers powerful tools based on element-wise broadcasting, but we will need to perform more general operations (e.g., groupings). **Pandas**, and in particular its *Series* and *DataFrame* objects, builds on the NumPy array structure and provides efficient tools to deal with labeled, unstructured and non-numerical data.

Pandas is well suited for many different kinds of data:

- Tabular data with heterogeneously-typed columns, as in an SQL table or Excel spreadsheets
- Ordered and unordered time series data.
- Arbitrary matrix data (homogeneously typed or heterogeneous) with row and column labels
- Any other form of observational / statistical data sets. The data actually need not be labeled at all to be placed into a pandas data structure

The two primary data structures of pandas are Series (1-dimensional) and DataFrame (multi-dimensional). They handle the vast majority of typical use cases in finance, statistics, social science, and many areas of engineering.

<h2><center> Series </center></h2>

The *Series* object provided by Pandas can be seen as a generalization of the NumPy ndarray. 
While in *ndarrays* the indexes are allways consecutive integers, in Series indexes can consist of values of any desired type. *Series* can also be seen as particular Python dictionary with keys that you can iterate.

In [3]:
import numpy as np
import pandas as pd

# integer_numpy_array = np.arange(20,25)
# pandas_series = pd.Series(integer_numpy_array)

# initialize list of lists
data = [['a','d'], ['b', 'e'], ['c', 'f']]
 
# Create the pandas DataFrame
df = pd.DataFrame(data, columns = ['one', 'two'])
df
 
# print dataframe.
# df
# df.iloc[2,1]

  one two
0   a   d
1   b   e
2   c   f

In [5]:
pandas_series.values

NameError: name 'pandas_series' is not defined

In [1]:
pandas_series.index

NameError: name 'pandas_series' is not defined

In [ ]:
pandas_series[0]

In [ ]:
pandas_series[2:4]

In [ ]:
# Series as a generalized NumPy array, where indexes can be any list

data = pd.Series([0.25, 0.5, 0.75, 1.0], index=[20, 40, 80, 160])

data[160]

In [ ]:
# Series as a specific Python dictionary, where indexes are dictionary keys that you can iterate

population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}

population = pd.Series(population_dict)
population['New York']

In [ ]:
x = population['Texas':'Florida']
x

**Q1: Can you create a Series where indexes are the odd numbers from 0 to 10 and values are the square of such numbers**

Expected output:

    1     1
    3     9
    5    25
    7    49
    9    81
    dtype: int64

In [ ]:
import numpy as np
import pandas as pd

a=np.array([1,2,3,4,5,6,7,8,9,10])
power = 2
index = (a[a%2==1])
answer = (a[a%2==1])**power

res = "\n".join("{} {}".format(x, y) for x, y in zip(index, answer))
print(res)

<h2><center> DataFrame </center></h2>

The *DataFrame* object provided by Pandas can be seen as a generalization of the 2-dimensional NumPy ndarray. 
The *DataFrame* can, alternativelly, be seen as a sequence of *Series* objects, all sharing the same indexes. We will see that *DataFrame* is a convinient data structure to store data and, additionally, offers useful methods to filter, transform, group and plot data.

In [ ]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}

area_dict = {'California': 423967, 
             'Texas': 695662, 
             'New York': 141297,
             'Florida': 170312, 
             'Illinois': 149995}


states = pd.DataFrame({'pop' : population_dict, 'area' : area_dict})

states

In [ ]:
# indexing (dictionary style)

states['area']

In [ ]:
# indexing
# notice that first we access columns and then rows..

states['area']['Florida']

In [ ]:
# indexing through NumPy ndarray of values: Florida=3, area=1
# notice that first we access rows and then columns..

states.values[3][1] # you can also check states.values[3,1]

In [ ]:
# slicing
states['area']['Texas':'Florida']

In [ ]:
# by default, slicing iterates over rows and the stop element in the slice is included

states['Texas':'Florida']

In [ ]:
# fancy indexing
states['area'][[1,3,0]]

In [ ]:
# masking
states['area'][states['area'] > 180000]

In [ ]:
# add new column
# states['density'] = states['pop'] / states['area']
# states['pop'] / states['area']
# states['pop']
# states['Texas' : 'New York']
# states['pop']>90
# states[states['area']>400000]
# states.iloc['area' > 90]
states.iloc[1][2]

As accessing elements by dictionary-style, array-explicit-style or array-implicit-style can be confusing, there are specific methods you can use to decide the type of indexing:


- .loc -> array-style indexing, explicit indexing using labels
- .iloc -> array-style indexing, implicit indexing using positions

**In the next examples: three ways of accessing the area of Florida... can you understand the differences?**

In [ ]:
states.loc['Florida','area']

In [ ]:
states.iloc[3,1]

In [ ]:
states['area']['Florida']

**Q2: Can you calculate the difference in population size between Texas and New York? Try to answer using the 3 different types of DataFrame indexing introduced above.**

Expected result in any of the possibilities: 6797066

In [ ]:
states.loc['Texas','pop']-states.loc['New York','pop']

loc and iloc are also convinient to desambiguate indexing when Indexes are integers:

In [ ]:
data = pd.Series(['d', 'c', 'b', 'a'], index=[3, 2, 1, 0])

data[0] # will the output be 'a' or 'd'?

In [ ]:
data[1:3] #-> -> implicit indexing used; the stop element in the slice is not included

In [ ]:
data.iloc[0]

In [ ]:
data.loc[0]

In [ ]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}

area_dict = {'California': 423967, 
             'Texas': 695662, 
             'New York': 141297,
             'Florida': 170312, 
             'Illinois': 149995}


states = pd.DataFrame({'pop' : population_dict, 'area' : area_dict})
print(states)

In [ ]:
states.loc['Florida']

**Q3: Create a new column in the DataFrame *states* that contains a boolean to indicate if population size is higher than 20000000**

Expected outcome: DataFrame with extra column named "popSize2000" with True in indexes California and Texas and False otherwise

In [ ]:
states['popSize2000'] = np.where(states['pop'] > 20000000 , True, False)
print(states)

**Q4: Select the states with density (i.e., populaltion/area) higher than 100**

Expected outcome: DataFrame with two rows (New York and Florida) and three columns (pop, area, popSize2000)

In [ ]:
states['popSize2000'] = np.where(states['pop'] > 20000000 , True, False)
#x gives a numpy array of the index values of the dataframe where pop/area >100
x = np.where(states['pop']/states['area'] > 100)
# print(states(x[0][0])
for elem in np.nditer(x):
    print(states.iloc[[elem]])

We can apply most aggregation functions (that we were used to apply with NumPy) to Pandas DataFrames. We can aggregate along either rows or columns. Below one example of calculating the mean population across states

In [ ]:
states['pop'].mean()

**Q5: Select the area of the largest state**

Tip: check the Secion "*Simple Aggregation in Pandas*" of the Python Data Science Handbook

The question asks for the area of the largest state. To print the name of the largest state the method [idxmax]("https://pandas.pydata.org/pandas-docs/version/0.17.0/generated/pandas.DataFrame.idxmax.html") can be handy... **Can you use idxmax to print the name of the largest state?**

Expetected output: 

695662

Texas

In [ ]:
y = states['area'].max()
x = states['area'].idxmax()
print(y)
print(x)

In [ ]:
# applying universal functions: indices are aligned and perserved
A = pd.DataFrame(np.ones((2, 2)), columns=list('AB'))
B = pd.DataFrame(np.arange(9).reshape(3,3), columns=list('BAC'))
A + B

Pandas provides useful methods to deal with missing items. Note that when adding DataFrame A and B there is a column and row of NaN added; that is because DataFrame A is missing row 2 column C, both present in DataFrame B. Below, see how convenient it is to replace NaN with a default value when applying the operation add — the NaN are substituted in DataFrame A, to guarantee index/column alignment between A and B before the operation add is applied:

In [ ]:
dfC = A.add(B, fill_value=-100)
dfC

**Q6: Can you calculate the sum of COLUMNS A, B and C of dataFrame dfC ?**

Expected outcome: 

    A    -86.0
    B    -89.0
    C   -285.0
    dtype: float64

In [ ]:
# dfC = A.add(B, fill_value=-100)
# dfC.set_index('').sum()
dfC.sum()

**Q7: Can you calculate the mean of ROWS indexed by 0, 1 and 2 of DataFrame dfC ?**

Expected outcome: 

    0   -31.666667
    1   -28.666667
    2   -93.000000
    dtype: float64

In [ ]:
dfC.mean(axis=0)

<h2><center> Working with a real dataset </center></h2>

In the next examples we are going to read and use a structured dataset (*DataPanelWHR2021C2.xls*) which corresponds to Happiness World Report 2021. Make sure to have *DataPanelWHR2021C2.xls* in the same folder as this Jupyter Notebook. This dataset will be useful also in Assignment 1.

You can find more info about the meaning of each column in the *DataPanelWHR2021C2.xls* dataset [here](https://happiness-report.s3.amazonaws.com/2021/Appendix1WHR2021C2.pdf), page 1-3.

Importantly, *Life Ladder* corresponds to the happiness index.

Some clarifications regarding the code below:
- we are importing Excel data
- index_col=[0,1] means that we will use as Index column 0 and column 1 of the excel file- Note that we are specifying 2 Indexes. This means we will have a DataFrame with a MultiIndex (examples provided below); if confused, plase read section "Hierarchichal Indexing" of the recommended [book]("https://jakevdp.github.io/PythonDataScienceHandbook/03.05-hierarchical-indexing.html")

In [ ]:
import pandas as pd
happinessdataframe = pd.read_excel('DataPanelWHR2021C2.xls', index_col=[0,1]) 
happinessdataframe

**Q9: Can you select data corresponding to The Netherlands, from 2005 to 2020?**

Expected output: DataFrame with 14 rows (2005 - 2020) and 9 columns (all columns in the previous DataFrame)

In [ ]:
df = happinessdataframe
df.loc['Netherlands']
# .loc[2005:2020]

In [ ]:
df = happinessdataframe
df.loc[('Netherlands', 2016)]

In [ ]:
happinessdataframe.mean()

In [ ]:
# Group each row by Country name; For each Country, present the mean of each column
happinessdataframe.groupby('Country name').mean()

**Q10: Can you grop each row by Year and, for each year, present the mean of each column?**

Expected output: same as above but grouped by year

In [ ]:
happinessdataframe.groupby('year').mean()

In [ ]:
# Group each row by Country name; For each different country name, present the maximum of each column
happinessdataframe.groupby('Country name').aggregate(np.max)

In [ ]:
# Group each row by Country; For each different country name, present max, mean and min of column Life Ladder
happinessdataframe.groupby('Country name')['Life Ladder'].aggregate(['max', 'mean', 'min'])

**Q11: Can you group data by year and, for each year, present the mean and variance for the 'Healthy life expectancy at birth'?**

Expected outcome: DataFrame with 16 rows (2005 - 2020) and 2 columns (mean, var)

In [ ]:
happinessdataframe.groupby('year')['Healthy life expectancy at birth'].aggregate(['mean', 'var'])

idxmax() can be applied to a DataFrame to obtain the maximum for each group; in the example below, we select the Index (Country, year) where the maximum 'Healthy life expectancy at birth' is observed

In [ ]:
happinessdataframe['Healthy life expectancy at birth'][0:-1].idxmax()

**Q12: Which was the happiest country in 2020? (using idmax and 1 line of code)**

Tip: [:,2020] can be used to select data for all countries in 2020

Expected outcome: 'Finland'

In [ ]:
happinessdataframe['Life Ladder'][:,2020].idxmax()

**Q13: What was the Healthy life expectancy at birth in 2018, by country?** 

Expected outcome: 

    Country name
    Afghanistan    52.599998
    Albania        68.699997
    Algeria        65.900002
    Argentina      68.800003
    Armenia        66.900002
                 ...    
    Venezuela      66.500000
    Vietnam        67.900002
    Yemen          56.700001
    Zambia         55.299999
    Zimbabwe       55.599998
    Name: Healthy life expectancy at birth, Length: 142, dtype: float64

In [ ]:
# %%time
# happinessdataframe.loc(axis=0)[:,2018]["Healthy life expectancy at birth"]
happinessdataframe["Healthy life expectancy at birth"][:,2018]
# groupby(['F_Type'])['to_date'].idxmax()]

**Q14: What was the average GDP of the Netherlands from 2013 to 2019 (inclusive)?** 

Expected output: 10.90265941619873

In [ ]:
happinessdataframe.loc['Netherlands'].loc[2013:2020]['Log GDP per capita'].mean()

<h2><center> Matplotlib </center></h2>

Matplotlib is the package for visualization in Python. We will now use the previous dataset and produce some visualizations. Just as we use the <code>np</code> shorthand for NumPy and the <code>pd</code> shorthand for Pandas, we will use mpl and <code>plt</code> as standard shorthands for Matplotlib imports.

A potentially confusing feature of Matplotlib is its dual interfaces: a MATLAB-style state-based interface, and a more powerful object-oriented interface.

In our Labs we will mainly use the object-oriented interface as it provides greater flexibility. In practice, we will always call methods over an object Axes.

We will first see some plot types and then plot quantities of interest related with the Happiness Report 2021 dataset.

In [ ]:
import matplotlib.pyplot as plt

# First create a grid of plots
# ax will be an array of two Axes objects
fig, ax = plt.subplots(2)

x = np.arange(0,10,0.1)

# Call plot() method on the appropriate object
ax[0].plot(x, np.sin(x))
ax[1].plot(x, np.cos(x));

In [ ]:
fig, ax = plt.subplots()

x = np.linspace(0, 10, 30)
y = np.sin(x)

ax.plot(x, y, 'o', color='black');

In [ ]:
fig, ax = plt.subplots()

x = np.linspace(0, 10, 50)
dy = 0.8
y = np.sin(x) + dy * np.random.randn(50)

ax.errorbar(x, y, yerr=dy, fmt='o', color='black',
             ecolor='lightgray', elinewidth=3, capsize=0)

plt.show()

In [ ]:
ax = plt.subplot()

data = np.random.randn(1000)

ax.hist(data)

plt.show()

In [ ]:
ax = plt.subplot()

mean = [0, 0]
cov = [[1, 1], [1, 2]]
x, y = np.random.multivariate_normal(mean, cov, 10000).T

plot2d = ax.hist2d(x, y, bins=30, cmap='Blues')

plt.show()

<h2><center> Working with a real dataset </center></h2>

How did the world mean GDP evolved from 2006 to 2020? You will see one answer to this question using matplotlib explicitely, and another using the interface to plot provided by Pandas:

In [ ]:
# using matplotlib explicitly
x = happinessdataframe.groupby('year').mean()['Log GDP per capita']
fig, ax = plt.subplots()
ax.plot(x)
plt.show()

In [ ]:
# using .plot() applied to DataFrame
# this is a shortcut for the code in the previous cell
x = happinessdataframe.groupby('year').mean()['Log GDP per capita']
x.plot()
plt.show()

How do countries distribute in terms of GDP and corruptioon, in 2020?

In [ ]:
x = happinessdataframe.loc(axis=0)[:,2018][["Log GDP per capita","Perceptions of corruption"]]
x.plot.scatter(x="Log GDP per capita", y="Perceptions of corruption",c='black')
plt.show()

What was the mean happiness over the years? How much does it vary across countries, per year?

In [ ]:
x = happinessdataframe.groupby('year').aggregate(np.mean)["Life Ladder"]
dy = happinessdataframe.groupby('year').aggregate(np.std)["Life Ladder"]

fig, ax = plt.subplots()

ax.errorbar(x.index, x.values, yerr=dy, fmt='o', color='black',
             ecolor='lightgray', elinewidth=3, capsize=0)

plt.show()

How do countries distributed in terms of Life expectancy in 2014?

In [ ]:
ax = plt.subplot()

data = happinessdataframe.loc(axis=0)[:,2014]["Healthy life expectancy at birth"]

ax.hist(data)

plt.show()

**Q15: What was the relationship between GDP and Healthy life expectancy at birth in 2014? — produce a Scatter plot to visualize this relationship**

In [ ]:
x = happinessdataframe.loc(axis=0)[:,2014][["Log GDP per capita","Healthy life expectancy at birth"]]
x.plot.scatter(x="Log GDP per capita", y="Healthy life expectancy at birth",c='black')
plt.show()

**Q16: How does the distribution of life expectancy in the top 50% happiest countries compare with the bottom 50%, considering all years?**

Suggestion: show this relationship in a plot with two histograms, one for the top 50% happiest countries and another for the bottom 50%.

Tips: 
- Check Figure 4-37, and respective code, of the book Python Data Science Handbook
- Each histogram corresponds to the countries with Life Ladder highest than the median : <code>happinessdataframe["Life Ladder"].median()</code>

In [ ]:
import numpy 
import matplotlib.pyplot as plt
plt.style.use('seaborn-deep')

m_val = happinessdataframe["Life Ladder"].median()

#why?
happy = happinessdataframe['Healthy life expectancy at birth'][happinessdataframe['Life Ladder'] >= m_val]
sad = happinessdataframe['Healthy life expectancy at birth'][happinessdataframe['Life Ladder'] < m_val]

kwargs = dict(histtype='stepfilled', alpha=0.5, bins=30)

plt.hist(happy, **kwargs)
plt.hist(sad, **kwargs);
labels= ["happy","sad"]
plt.legend(labels)
# plt.legend(happy, sad)
plt.show()